<div class="element-left">
  <div class="element-bg-img"><img src="../../assets/1.jpg" alt="" class="img-responsive"> </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li><a href="#">Hotel</a></li>
        <li><a href="#">Fishing</a></li>
        <li><a href="#">Tours</a></li>
        <li class="anc-bor"><a href="#">Weather</a></li>
      </ul>
    </div>
    <div class="village">
      <h3>Righteous indignation & like</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">



          <div *ngFor="let city of cities; let i = index; let isEven = even"
               class="activity-row" (click)="selectCity(city)" [ngClass]="{'even_line': isEven}">
            <div class="activity-desc">
              <h5>{{i+1}}. {{city.name}}</h5>
            </div>
            <div class="activity-img">
              <ul>
                <li><img [ngClass]="{cityPhoto: true}" src='{{city.photo}}'  alt=""/></li>
                <li><img [ngClass]="{hotelPhoto: true}"src='{{city.hotelPhoto}}'  alt=""/></li>
              </ul>
            </div>
            <div class="clear"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
